/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	border: 0;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 0;
	font-size: 10pt;
	padding: 7px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    	color: #ffffff;
}
table#result_tb thead tr {
	background-color: #ea6153;
}
table#result_tb2 thead tr {
	background-color: #27ae60;
}
table.tablesorter tbody tr {
	background: #f6f6f6;
}
table.tablesorter tbody tr:nth-of-type(odd) {
	background: #e9e9e9;
}
table.tablesorter tbody td {
	height: 33px;
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
/* background-color: #8dbdd8; */
}
